[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Anthony Ongaro
	email = 43623494+ajongaro@users.noreply.github.com
	editor = atom --wait
	excludesfile = /Users/anthonyongaro/.gitignore_global
[pull]
	rebase = false
[init]
	defaultBranch = main
[alias]
